<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link href="//kendo.cdn.telerik.com/2016.3.914/styles/kendo.common-fiori.min.css" rel="stylesheet" />
    <link href="//kendo.cdn.telerik.com/2016.3.914/styles/kendo.rtl.min.css" rel="stylesheet" />
    <link href="//kendo.cdn.telerik.com/2016.3.914/styles/kendo.fiori.min.css" rel="stylesheet" />
    <link href="//kendo.cdn.telerik.com/2016.3.914/styles/kendo.fiori.mobile.min.css" rel="stylesheet" />

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="//kendo.cdn.telerik.com/2016.3.914/js/jszip.min.js"></script>
    <script src="//kendo.cdn.telerik.com/2016.3.914/js/kendo.all.min.js"></script>
    <script src="//kendo.cdn.telerik.com/2016.3.914/js/kendo.timezones.min.js"></script>


    <script>

        $(function () {

            RefreshStatistic();
            var popupNotification = $("#popupNotification").kendoNotification().data("kendoNotification");

            $("#CheckGroupStatus").click(function () {

                $.ajax({
                    url: '@Url.Action("CheckGroupHasLearn")',
                    dataType: "json",
                    type: "post",
                    success: function (data) {
                        console.log(data);
                        if (data)
                            popupNotification.show("Группа лиц была успешно обучена раннее", "info");
                    },
                    error: function () {

                        popupNotification.show("Произошла ошибка", "error");

                    }
                });

            });
            $("#LearnGroup").click(function () {

                $.ajax({
                    url: '@Url.Action("LearnGroup")',
                    dataType: "json",
                    type: "post",
                    success: function (data) {
                        console.log(data);
                        if (data)
                            popupNotification.show("Переобучение было выполенно успешно", "info");
                    },
                    error: function () {

                        popupNotification.show("Произошла ошибка", "error");

                    }
                });

            });
            $("#RefreshStatistic").click(function () {
                RefreshStatistic();
            });

            function RefreshStatistic() {
                $.ajax({
                    url: '@Url.Action("RefresStatistic")',
                    dataType: "json",
                    type: "post",
                    success: function (data) {
                        console.log(data);
                        createChart("#daenerysGrid", data.daenerys, "Daenerys");
                        createChart("#missandeiGrid", data.missandei, "Missandei");
                        createChart("#mormontGrid", data.mormont, "Mormont");
                    },
                    error: function () {

                        popupNotification.show("Произошла ошибка при обновлении статистики", "error");

                    }
                });
                function createChart(chartName, dataChart, personName) {
                    $(chartName).kendoChart({
                        dataSource: {
                            data: dataChart
                        },
                        title: {
                            text: personName + " emmotions"
                        },
                        legend: {
                            visible: true
                        },
                        seriesDefaults: {
                            type: "line",
                            labels: {
                                visible: true,
                                format: "{0}",
                                background: "transparent"
                            }
                        },
                        series: [{
                            field: "Emotion.Scores.Anger",
                            name: "Anger"
                        }, {
                            field: "Emotion.Scores.Contempt",
                            name: "Contempt"
                        }, {
                            field: "Emotion.Scores.Disgust",
                            name: "Disgust"
                        }, {
                            field: "Emotion.Scores.Fear",
                            name: "Fear"
                        }, {
                            field: "Emotion.Scores.Happiness",
                            name: "Happiness"
                        }, {
                            field: "Emotion.Scores.Neutral",
                            name: "Neutral"
                        }, {
                            field: "Emotion.Scores.Sadness",
                            name: "Sadness"
                        }, {
                            field: "Emotion.Scores.Surprise",
                            name: "Surprise"
                        }],
                        valueAxis: {
                            labels: {
                                format: "{0}"
                            },
                            line: {
                                visible: false
                            }
                        },
                        categoryAxis: {
                            field: "ImageFileName",
                            majorGridLines: {
                                visible: false
                            }
                        }
                    });
                }

            }

        });

    </script>


</body>
</html>
